* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 40px 45px;
  display: flex;
  justify-content: space-between;
}

.highscore-box a {
  font-size: 30px;
  color: #a935df;
  text-decoration: none;
  font-weight: bold;
}

.time-box {
  font-size: 30px;
  font-weight: bold;
  display: flex;
}

main {
  display: flex;
  justify-content: center;
}

.title-screen {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
  margin: 40px 0;
}

.title-screen h1 {
  font-size: 60px;
  margin: 30px 0;
  text-align: center;
}

.title-screen p {
  font-size: 32px;
  text-align: center;
  letter-spacing: .2px;
}

#start-game {
  font-size: 32px;
  letter-spacing: .4px;
  padding: 15px 35px;
  border-radius: 16px;
  background-color: #45278b;
  color: white;
  border-style: none;
  margin-top: 30px;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.25);
  content: display;
}

#start-game:hover {
  margin-top: 31px;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.25);
}

.question-container {
  width: 55%;
  display:flex;
  flex-direction: column;
  margin: 40px 0;
  align-items: flex-start;
}

.question-header {
  font-size: 48px;
  margin: 30px 0;
  text-align: left;
}

.answer-container {
  display: flex;
  flex-direction: column;
}

.answer-btn {
  text-align: left;
  border-style: none;
  color: white;
  background-color: #45278b;
  border-radius: 16px;
  font-size: 32px;
  letter-spacing: .4px;
  padding: 15px 35px;
  margin: 5px 0;
  width: 100%;
}

.answer-btn:hover {
  background-color: #bd60e7;
}

#end-container {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: flex-start;
  margin: 70px;
}

#end-container h2 {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 20px;
}

#end-container p {
  font-size: 40px;
  margin-bottom: 20px;
}

#submit-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#submit-container span {
  font-size: 40px;
  margin-right: 25px;
}

#initials-input {
  height: 55px;
  width: 50%;
  font-size: 40px;
}

#submit-btn {
  border-style: none;
  color: white;
  background-color: #45278b;
  border-radius: 10px;
  font-size: 32px;
  letter-spacing: .4px;
  padding: 8px 24px;
  margin-left: 25px;
}

#submit-btn:hover {
  background-color: #bd60e7;
}

#score-parent-container {
  display: flex;
  height: 100vh;
  align-items: center;
}

#score-child-container {
  display: flex;
  flex-direction: column;
}

#score-header {

}

#score-list {

}

.high-score {

}

#high-score-button-container {
  display: flex;
  justify-content: flex-start;
}

.high-score-buttons {
  
}